@{
    ViewData["Title"] = "Home Page";
    string autor = "Rachit Díaz";
    int edad = 21;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Modificando una vista</h1>
        <p>
            <strong>Yo soy: </strong> @autor <br />
            Mi edad es: <input type="number" value="@edad" placeholder="Escriba su edad"/>@edad
        </p>
    </div>
    <div>
        <label>
            Mi carné es: 
        </label>
		<input type="number"  placeholder="Escriba su carné"/>
    </div>

</body>
</html>