@{
    ViewData["Title"] = "Home Page";
    string autor = "Rachit Díaz";
    int edad = 21;
}


<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Modificando una vista</h1>
        <p>
            <strong>Yo soy: </strong> @autor <br />
            Mi edad es: <input type="number" value="@edad" placeholder=">@edad" />
        </p>
    </div>
	<div>
        <label>Pertenezco al equipo de Pi llamado: </label>
        <input type="text" placeholder="Vorlagenersteller S.A." />
	</div>

</body>
</html>